// Colors Variables
//https://coolors.co/app/eaddd3-bb4699-3a3939-fcfcfc-efcbac
//DESERT SAND
$maincolor: #EFCBAC;
// MULBERRY <- kind of purple
$color2: #BB4699;
//ONYX <- kind of black
$color3: #3A3939;
// CHAMPAGNE PINK <- almost skin
$color4: #EADDD3;
// BABY POWDER <- almost white with little bit of gray
$color5: #FCFCFC;