body {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/slider/stats.jpg);
	main {
		background: white;
	}
}