//https://coolors.co/03045e-023e8a-0077b6-0096c7-00b4d8
$color1: #03045e;
$color2: #023e8a;
$color3: #0077b6;
$color4: #0096c7;
$color5: #00b4d8;

$gray: #6a6a6a;

.gray {
	color: $gray;
}

.bgray {
	background: $gray;
}