@import url("marbust-framework.css");

//https://coolors.co/2d3047-419d78-c04abc-e0a458-ffdbb5

$color1: #2d3047;
$color2: #419d78;
$color3: #c04abc;
$color4: #e0a458;
$color5: #FFDBB5;

@import 'partials/mediaqueries';
@import 'partials/layout';
@import 'partials/fonts';
@import 'partials/header';
@import 'partials/footer';

@import 'partials/home';
@import 'partials/contact';











